.header {
  height: 70px;
  background: #4caf50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  color: white;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 45px;
}

.header-left h4 {
  margin: 0;
  font-size: 16px;
}

.header-left span {
  font-size: 12px;
}

.back-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
