/* HomePage.css */

/* تنسيق للرأس */
.home-header {
  background-color: #4caf50; /* نفس اللون في صفحة تسجيل الدخول */
  color: white;
  padding: 20px;
  text-align: center;
}

/* تنسيق خاص لصفحة المنتجات */
.home-container {
  width: 80%;
  margin: 50px auto;
  background-color: white;
  padding: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-container h1 {
  text-align: center;
  color: #333;
  font-size: 36px;
  margin-bottom: 20px;
}

/* تنسيق قائمة المنتجات */
.product-list {
  display: center
  grid-template-columns repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.product {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product img {
  max-width: 100%;
  border-radius: 8px;
}

.product h3 {
  font-size: 24px;
  margin-top: 10px;
}

.product p {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

.product button {
  background-color: #4caf50;
  color: rgb(124, 51, 51);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product button:hover {
  background-color: #a07145;
}
.cardfooter button {
  background-color: #4caf50;
  color: rgb(75, 59, 59);
  border: 50px;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}/* تنسيق شريط السلة */
.cart-footer {
  background-color: #0d0e0f;
  padding: 15px 0;
  text-align: center;
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  border-top: 1px solid #ddd;
}


 