.login-wrapper {
  display: flex;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

/* LEFT */
.login-left {
  flex: 1;
  padding: 80px;
  background: #fff;
}

/* LOGO + TECH HUB */
.brand-wrapper {
  display: flex;
  align-items: center;
  gap: 50;
  margin-bottom: 40px;
}

.brand-logo {
  width: 400px;  /* كبرنا اللوجو */
  height: 300px;
  object-fit: contain;
}


.brand {
  color: #2e7d32;
  font-size: 50px;
  margin: 0;
}

.login-left h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.subtitle {
  margin-bottom: 30px;
    font-size:30px;
}

.subtitle a {
  color: #7d2e2e;
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
    font-size:40px;
}

input {
  width: 100%;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 40px;
}

button {
  width: 100%;
  padding: 25px;
  background: #2e7d32;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 30px;
  cursor: pointer;
}

.error {
  color: red;
  margin-bottom: 15px;
  font-size: 50px;
}

/* RIGHT */
.login-right {
  flex: 1;
  background: #2e7d32;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  max-width: 400px;
}

.overlay h2 {
  font-size: 50px;
  margin-bottom: 15px;
}

.overlay p {
  font-size: 25px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .login-wrapper {
    flex-direction: column;
  }

  .login-right{
    display: none;
  }
}